[2019-08-31 08:28] chrisehlee opened #2 "WebView is no more part of the react-native core"
Nice job overall.
For the most recent version of `react-native@60.x.x`, this is what happens.
[code]
Is it possible to add the `react-native-webview` package as a peer dependency?
I'm open to working on this as a PR if you're unavailable.

[2019-08-31 15:51] just1and0 commented on #2
Hey, Thanks.

I'm opened to PR's. Feel free to make changes.

[2019-09-02 11:09] chrisehlee commented on #2
Okay.

[2019-09-02 13:08] just1and0 commented on #2
If you also have time on your hands you could check out these packages below and help update. Than

[2019-09-02 15:36] chrisehlee commented on #2
Sure will when i can.

[2019-09-02 15:36] #2 closed

[2020-01-20 17:59] PrincewillIroka opened #6 "Shows blank white screen when I close the modal from the X button"
This library is awesome, but I'm facing a little challenge with going back to the app after closing the Paystack Interface (WebView) from the X button. When I click the X button, the WebView closes, but the app shows a blank white screen. I always have to close the app and open it again at this point.

[2020-01-20 21:07] just1and0 commented on #6
Hey @PrincewillIroka,

I honestly don't understand your issue, could you maybe share a screen record so i best understand the issue. Also what version of react native are you using ?

[2020-01-21 11:50] PrincewillIroka commented on #6
@just1and0 Thanks for the prompt response. I've attached a screen record of the issue to this comment. And I'm using react-native 0.59.8
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/26362657/72802677-9ac4ef00-3c4c-11ea-81f9-ae709119aaaf.gif)

[2020-01-23 18:10] tons613 opened #7 "No response in the callback after successful payment"
After successful payment, there was no response from callback functions. And it just shows a blank screen.

[code]

I am using

[code]

[2020-02-19 01:15] okechukwu0127 commented on #6
I am stock on the white screen too when i click on the Cancel button and when i complete a payment.

I have a feeling that the WebView property **onMessage** is not been triggered, thus it stuck since  the state showModal remains true
I am using "react-native": "0.59.8".

How can i resolve this issue of white screen ?

[2020-02-19 23:21] okechukwu0127 commented on #6
I was able to solve the entire issue for this plugin after some research.

PROBLEM 1 => PACKAGE GETS STUCK ON WHITE SCREEN
The season for the white screen is because the WebView does not send a message to the RN app so the app ends up been stock on the Model true visibility state.

SOLUTION
After WebView v.5, the syntax for sending data from WebView changed and the application seems to be using th

[2020-02-21 13:05] just1and0 commented on #6
Thanks, @okechukwu0127! seems you've cracked this one!

I'm currently running a test on the PR you sent, once I'm done I guess I can close this issue by tonight.
Really grateful you could help out and reduce my work 😅

I have been working on some cool stuff for a new release to support react-native version 0.60>, if you'd like to be a maintainer I won't mind letting you in while we build cool stuf

[2020-02-21 13:21] okechukwu0127 commented on #6
@just1and0 thats not a problem at all.
I would always be willing to assist at my spear time.

Regards

[2020-02-22 16:08] deveid commented on #6
Which code should be written for the tiny webpageview?

[2020-02-22 16:17] just1and0 commented on #6
@deveid I don't understand the question.

[2020-02-22 16:19] deveid commented on #6
@just1and0 The payment gateway is tiny, so I was asking how do I magnify it without having to zoom in

[2020-02-22 17:44] just1and0 commented on #6
hey, this issue has been resolved,  try upgrading the package version to the latest! that should do it 😊

[2020-02-22 17:44] #6 closed

[2020-02-22 17:56] just1and0 commented on #7
Hey, seem this issue is similar to #6 so I'll go ahead and close this.

[2020-02-22 17:56] #7 closed

[2020-02-22 18:00] deveid commented on #6
I'm using version 2.0.2 and its tiny except when zoomed in

[2020-02-22 21:44] okechukwu0127 commented on #6
Add this code to the head tag =>

                      <meta name="viewport" content="width=device-width, initial-scale=1.0">

[2020-02-23 14:20] deveid opened #9 "Webview removed from 'react-native'"
It complains about webview been removed from 'react-native'
@just1and0 Please change it to import WebView from 'react-native-webview'

[2020-02-23 14:23] just1and0 commented on #9
It does that because a version that supports react native 0.60 or latest hasn’t been made, I’m currently working on that, once that’s done you should be able to use it.

[2020-02-23 14:25] deveid commented on #9
okay...I'm using it for RN 0.60 and I had to change it but nice worj

[2020-02-29 14:13] ochui commented on #9
#10 @just1and0

[2020-03-08 00:48] just1and0 commented on #9
@deveid do make use of the latest version which now supports react-native 0.60

[2020-03-08 00:48] #9 closed

[2020-03-22 19:11] mojeedoyedeji opened #12 "Can't install via npm"
Hi, I am issues with install this npm package. The error message can be found below

![Selection_001](https://user-images.githubusercontent.com/10332215/77258190-0695f900-6c8a-11ea-99ea-8273396d19b7.png)

[2020-03-22 23:08] tons613 commented on #12
install with yarn
`yarn add react-native-paystack-webview`

[2020-03-23 06:40] just1and0 commented on #12
Hi @mojeedoyedeji,

I just ran the command and it works on my system, I will suggest you use yarn but just before you do that, try to update the package to v3.0.3, I have made some changes that should solve this issue.

<img width="1138" alt="Screenshot 2020-03-23 at 07 36 26" src="https://user-images.githubusercontent.com/17249207/77288934-2f91aa80-6cd9-11ea-9cef-d9c0829ba153.png">

[2020-03-23 06:40] #12 closed

[2020-03-26 14:12] code-wizard opened #13 "Loading Screen"
I tried using this library with react-native expo. After setting up all the configuration when I load the webview it keeps showing the loader without any feedback.
This is the example I used
[code]

[2020-03-26 14:16] just1and0 commented on #13
Hi!
could your share the react-native version used? and any other version number used for your project so i can test on my end?

[2020-03-26 14:29] code-wizard commented on #13
@just1and0 thanks for the swift response
react-native: 0.59.8
expo: ^35.0.0
React-Native-Paystack-WebView: 3.0.3

[2020-04-03 19:46] Somtozech commented on #13
having the same issue too

[2020-04-04 21:50] rebirthtobi commented on #13
I don't think this is particular to expo,

I see a blank screen on
react-native: 0.61.5
React-Native-Paystack-WebView: 3.0.4

[2020-04-05 19:48] rebirthtobi commented on #13
i figure out that i was passing a null as email not knowing that it is required. it will be better if this is specified in the readMe

[2020-04-22 18:24] johneyo opened #14 "Currency props"
Hello, can it be possible to pass currency as a prop to the package?

[2020-04-22 18:28] just1and0 commented on #14
For now it cannot, but you could send a PR that does and it’ll be merged.

[2020-04-22 18:54] johneyo commented on #14
Okay

[2020-04-22 19:18] just1and0 commented on #14
See  #15

[2020-04-22 19:19] #14 closed

[2020-04-22 20:23] johneyo opened #16 "Stuck after Auth Success"
I get this screen right after a successful authorization and charge
<img width="521" alt="Screenshot 2020-04-22 at 21 02 50" src="https://user-images.githubusercontent.com/36991140/80029924-6bd64780-84df-11ea-9847-2f6ec61f4ba6.png">
Any idea why this is?

Thank you

[2020-04-22 20:26] just1and0 commented on #16
what version of react-native-webview are you using?

[2020-04-22 21:03] johneyo commented on #16
9.2.1

[2020-04-22 21:05] just1and0 commented on #16
could you use 8.1.2

[2020-04-22 21:07] johneyo commented on #16
okay let me try that

[2020-04-22 21:20] johneyo commented on #16
The issue still perists

[2020-04-22 22:15] just1and0 commented on #16
Are you getting any response with the onSuccess callback?

[2020-04-22 22:20] johneyo commented on #16
That's the thing, the callback wasn't hit at all. it just gets stuck on that screen

[2020-04-23 09:03] johneyo commented on #16
The navigation state where it gets stuck is =>
` {"canGoBack": false, "canGoForward": false, "loading": false, "target": 4029, "title": "Close This Window :: Paystack", "url": "https://standard.paystack.co/close"}`

[2020-05-06 04:32] GideonAgboba opened #17 "onCancle callback bug"
react-native-paystack-webview does not run onSuccess function after successful transaction...

please observe the code below...
<PaystackWebView
showPayButton={false}
currency="NGN"
channels="card"
paystackKey="pk_test_****************************"
amount={amount}
billingEmail={email}
billingMobile={phone}
billingName={fullname}
ActivityIndicatorColor="green"
onSuccess={(tranRef) => {
// do someth

[2020-05-06 04:55] dihweng commented on #17
Hello
I'm also experiencing the same issues, when ever i make a request it shows Payment Successful but after that the onCancel is called instead of onSuccess
[code]

[2020-05-06 15:49] samie820 commented on #17
@dihweng I am not quite sure why that is the case for you, but I submitted a PR that exposes a `handleWebViewMessage` method, you can use that to see the raw event being sent from the webView

[2020-05-06 18:30] #17 closed

[2020-05-08 12:31] GideonAgboba commented on #13
please can some one help with the requirements for
react-native-paystack-webview 3.0.6 to run perfectly with expo

[2020-05-12 23:38] just1and0 commented on #16
Please could you use v3.0.1 of the package?

[2020-05-12 23:39] just1and0 commented on #13
could you use v3.0.1 of React-Native-Paystack-WebView instead?

[2020-05-14 09:14] habibkayode123 commented on #13
I am also seeing blank screen and I have try v3.0.1

[2020-05-14 15:25] just1and0 commented on #13
What’s your React Native and react native webview version ?

On Thu, 14 May 2020 at 10:14 AM, Popooola Habib <notifications@github.com>
wrote:

[2020-05-15 13:59] Remig9 commented on #16
am parsing in my  refNumber but getting another number after successful payment , pls help

[2020-05-15 14:00] Remig9 commented on #13
am parsing in my refNumber but getting another number after successful payment , pls help

[2020-05-16 17:00] johneyo commented on #16
Still the same issue when trying the bank auth option

[2020-05-28 01:16] dayaki commented on #13
@just1and0 mine is stuck on white blank screen after the loading indicator. React Native v0.61 and react native webview 8.1.1

[2020-05-28 14:43] Somtozech commented on #13
Sometimes this happens when the data you passed to the modal is undefined. Make sure whatever you passing is not undefined

[2020-05-28 15:09] dayaki commented on #13
Everything was hard-coded to test, and it still fails. Maybe @just1and0  should indicate the required fields

[2020-05-28 19:44] Oguntoye commented on #13
@just1and0 .. The white screen seems to be a general problem..
I've tried both libraries suggested by paystack for react native...None seems to works as expected.

[2020-05-28 20:02] dayaki commented on #13
I have been able to modify this package to make it work with latest expo and webview, will try share soon

[2020-06-04 08:43] aripuzo commented on #13
I stuck here too, blank screen after hardcoding prop values

[2020-06-04 16:33] saladinjake commented on #13
i was able to get it out of the blank screen but i get a message we could not start this transaction. this transaction is either invalid or already completed. please confirm that the link is correct

[2020-06-04 16:35] Remig9 commented on #13
You have to change the reference id

On Thu, Jun 4, 2020, 5:33 PM Juwa Victor <notifications@github.com> wrote:

[2020-06-04 17:19] saladinjake commented on #13
i autogenerate a ref id all the time

[2020-06-04 17:23] saladinjake commented on #13
i i use a shortid library. but it still throws the same exception error. here is my code snippet

`<PaystackWebView
           buttonText="Pay Now"
           showPayButton={true}
          paystackKey="key is publick key"
          amount={12000}
          billingEmail="juwavictor@gmail.com"
          billingMobile="08068291106"
          billingName="mongodbname-for my client-is not known"

[2020-06-04 17:25] saladinjake commented on #13
please i need help. how do i get out of this? is there a code snippet to solve these reference id?

[2020-06-04 17:31] Remig9 commented on #13
Comment the refNumber out and see if it works

On Thu, Jun 4, 2020, 6:24 PM Juwa Victor <notifications@github.com> wrote:

[2020-06-04 17:34] saladinjake commented on #13
OK

[2020-06-04 17:34] saladinjake commented on #13
Trying it out just now

[2020-06-04 17:37] saladinjake commented on #13
same issue. didnt work for me

[2020-06-04 17:39] saladinjake commented on #13
could start this transaction. am using version 3 as requested

[2020-06-04 17:42] rebirthtobi commented on #13
`can you log the error in onLoadEnd`

Also can you create an expo snack so as to reproduce the error?
snack.expo.io

[2020-06-04 19:20] saladinjake commented on #13
Sorry bout the delay .Cant get it to show on the snack.expo.io . here
https://snack.expo.io/@saladinjake/great-chips

[2020-06-04 19:23] rebirthtobi commented on #13
Put your code in there so as to help debug, let us know after

[2020-06-04 19:26] saladinjake commented on #13
ok

[2020-06-04 21:38] saladinjake commented on #13
https://snack.expo.io/@saladinjake/paystack-wahala . i was able to reproduce the error on snack. its not even showing the

[2020-06-05 06:15] saladinjake commented on #13
Goodmorning guys. Can this be resolved? https://snack.expo.io/@saladinjake/paystack-wahala. tried all night to find a fix. it starts off with a loading screen but the form doesnt show up rather this transaction is either invalid or completed. i check my dashboard for any such transaction but i see nothing regarding the transaction. and i cant get to log the onLoadEnd function.

[2020-06-06 13:24] saladinjake commented on #13
still showing could not start transaction

[2020-06-07 05:24] AnayoOleru opened #26 "Type Error, React. UseState is not a function"
![Screenshot 2020-06-07 at 6 19 52 AM](https://user-images.githubusercontent.com/37017788/83961020-2b603c80-a887-11ea-8fb2-078241f6f425.png)

I can't even view the payment screen when I navigate to the payment screen where I imported the component, I get this. When I decide to use version 2.0, I get an empty screen with only the text:

"Pay Now"

Please, is there anything I'm doing wrong. The docs

[2020-06-07 06:45] walexanderos commented on #13
Hello Everybody,

For anyone experiencing the blank screen issue after the indicator, i resolve mine with the following steps:

![image](https://user-images.githubusercontent.com/36700043/83961837-1687a700-a88f-11ea-9db5-695a960098cf.png)

In the above screen shot from the RN PAYSTACK WEBVIEW module file, channel prop (props.channels) is being assigned to the paystack channels configuration option

[2020-06-07 08:00] just1and0 commented on #13
Thank @walexanderos for noting this, I've made changes and included it in V3.0.8, i have also tested it on expo and it works fine on my end. Do try it out and let me know if the blank screen still comes up.

[2020-06-07 08:00] #13 closed

[2020-06-07 08:17] just1and0 commented on #16
please update to the latest version of the package, all issues have been resolved.

[2020-06-07 08:17] #16 closed

[2020-06-07 08:19] just1and0 commented on #13
@all-contributors please add @walexanderos for bug

[2020-06-07 09:28] walexanderos commented on #13
Hello @just1and0 , i just tested and it worked fine. But i will suggest you update your documentation to inform users about specifying channel option since the default channel in the module is only card

![image](https://user-images.githubusercontent.com/36700043/83964741-e64c0280-a8a6-11ea-9af0-336055cb0775.png)

Thank you

[2020-06-07 09:42] just1and0 commented on #26
Hi, please do update the package to the latest version.

[2020-06-07 09:42] #26 closed

[2020-06-07 09:46] just1and0 commented on #13
@walexanderos  Noted, but also keep in mind this is an open-source project, you could just fork the repo and make changes to the project and send a PR, it'll be better so you get recognition for your contributions.

[2020-06-07 09:48] just1and0 commented on #13
also do check out the [contribution guidelines](https://github.com/just1and0/React-Native-Paystack-WebView/blob/master/contribution.md) before making changes.

[2020-06-07 11:23] walexanderos commented on #13
@just1and0  Alright, i will just do that then. Thank you

[2020-06-07 13:22] saladinjake commented on #13
followed your instructions still didnt start transaction

[2020-06-07 13:23] saladinjake commented on #13
using v.3.0.8 and still same issue

[2020-06-07 14:19] walexanderos commented on #13
@saladinjake, please upgrade to the recent version (3.0.9) . Also can I have a view of how you are using the package

[2020-06-08 13:14] saladinjake commented on #13
// <View style={{flex: 1}}>
      //   <PaystackWebView
      //     buttonText="Pay Now"
      //     showPayButton={false}
      //     paystackKey="public key"
      //     amount={120000}
      //     billingEmail="paystackwebview@something.com"
      //     billingMobile="09787377462"
      //     billingName="Oluwatobi Shokunbi"
      //     channels={JSON.stringify(['card','ussd'])}
      /

[2020-06-08 13:17] saladinjake commented on #13
if i create a linking out side react-native and say i open the url to a react page on a live server by redirecting a click event a page on the web it works. but on the react native environment it throws the same error

[2020-06-08 14:25] walexanderos commented on #13
@saladinjake i created a snack [demo ](https://snack.expo.io/@walexanderos/react-native-paystack-webview) which works fine with using v3.0.9 of the package

[2020-06-08 16:01] saladinjake commented on #13
it does not start transaction tried it on my device

[2020-06-09 21:51] saladinjake commented on #13
seems to me paystack  api wont let this transaction  start. i read the docs and found a clue to make it work and it scaled thru. thanks for all the digging deep paystack-webview made me do..  i made it work with no issues this time. try making sure the webview renders the paystack-webview once and not multiple times. find a way to communicate to a dedicated server having the paystack code that run

[2020-06-18 15:29] nlabofa commented on #16
This issue still persists @just1and0

[2020-06-18 23:56] godswillokokon opened #32 "Invarient Violation: requireNativeComponent: 'RNCWebView" was not found in the UIManger"
Hello, I have this error when I click on the "Pay Now" button.
Code: ` <PaystackWebView

            buttonText={"Pay Now"}
            showPayButton={true}
            paystackKey="***********"
            paystackSecretKey="******"
            amount={1000}
            billingEmail="email@gmail.com"
            billingMobile="08177024***"
            billingName="Godswill Okokon"
            Act

[2020-06-20 21:03] godswillokokon commented on #32
Solved it by running the following commands:
1. cd android
2. ./gradlew clean
3. ./gradlew clean assembleDebug
4. npx react-native run-android
5. yarn start --reset-cache

[2020-06-20 21:03] #32 closed

[2020-06-28 14:23] rebirthtobi opened #33 "Support for plans and additional payment properties"
Is there any support for plan which involve the use of planId and also adding additional properties to the payment object?

[2020-07-06 13:33] just1and0 commented on #33
Well, the project is open source so yes, just fork the repo and make changes then send a PR and it'll be merged. I would suggest you take a look at the contribution guidelines before you start making contributions.

[2020-07-06 13:33] #33 closed

[2020-07-23 03:27] cahakgeorge opened #35 "No Support for AlphaNumeric Refs"
Alpha numeric numbers seem to load a blank page when supplied. Will send a PR on my minor fix for it

[2020-07-23 03:29] just1and0 commented on #35
Thank, will really appreciate it!

[2020-07-23 03:47] cahakgeorge opened #37 "Unnecessary secret key requirement"
Paystack APIs mostly needs only the public key to identify a receiving merchant.
Having a user embed and store Paystack secret on the client side might pose some risk. Submitting a PR

[2020-07-23 03:54] just1and0 commented on #37
Hi @cahakgeorge

I do understand the concern but adding your secret key is optional and this feature is included for experimental purposes, also there's a  **Disclaimer** in the readme that explains this risk.

[2020-07-23 03:54] #37 closed

[2020-07-23 20:01] just1and0 commented on #35
#39

[2020-07-23 20:01] #35 closed

[2020-07-26 11:02] EmekaIwuagwu opened #41 "Unable to resolve module `react-native-paystack-webView`"
I am getting this as an Error, trying to use the Demo i saw on the internet having followed a tut from youtube

The full Error is given thus :

error: Error: Unable to resolve module `react-native-paystack-webView` from `src\Payments.js`: react-native-paystack-webView could not be found within the project or in these directories:
  node_modules

If you are sure the module exists, try these steps:

[2020-08-08 12:32] surafelbm commented on #16
@nlabofa any luck fixing this issue? the issue still persists @just1and0 @johneyo

[2020-08-08 13:33] surafelbm opened #42 "Stuck at bank auth screen"
Hello,

there seems to be a problem when trying to use a card that requires a bank authorization right after you enter the card info it asks you to authenticate with the bank and you press authenticate and it leads to this page where it just gets stuck sayin "Please close this webpage to continue". this also happens with the test public key when you select the bank auth option.
i have a gif demons

[2020-08-08 14:02] just1and0 commented on #42
HEY, Could you show a code snippet of how you implemented this ?

[2020-08-08 14:53] surafelbm commented on #42
no the transaction doesnt complete, onSuccess is never called.

`<PaystackWebView
          buttonText="Pay Now"
          showPayButton={false}
          paystackKey="pk_test_yt6t3..."
          paystackSecretKey="sk_test_75f"
          amount={parseInt(this.props.options.amount)}
          billingEmail={this.props.options.email}
          ActivityIndicatorColor="#01172F"
          SafeAreaViewCo

[2020-08-12 21:37] ckosiegbu opened #43 "Why is the paystack private key required?"
Great job here @just1and0.

I'm a bit reluctant to use it because I wonder why we need to specify both public and private keys to use the control as opposed to only public keys when using paystack's own inline js. I'm extremely reluctant to transfer both keys over the wire to a client mobile app which might be able to be compromised. Is there a way to use this with just the public key?

[2020-08-15 11:35] eakenbor commented on #41
@EmekaIwuagwu were you able to get a solution? I am having the same problem.

[2020-08-17 08:20] tobioyelekan commented on #41
Also having this issue @just1and0 , how do we solve this problem ?

[2020-08-17 08:50] eakenbor commented on #41
Installing react-native-webview solved it for me. The instruction is actually hidden somewhere in the documentation. The owner should make it more visible.

[2020-08-17 10:16] tobioyelekan commented on #41
oh yea, almost like I didn't even do anything, it just started working :)

[2020-08-19 16:34] sa-ma opened #44 "No support for sub accounts"
Is there a way of passing extra props like a prop for sub-accounts?

[2020-08-20 08:55] just1and0 commented on #43
Hey @ckosiegbu ,

You can use the package with just your public key but keep in mind that your transaction won't be verified but you can do that on your backend.
Adding your secrete key will verify the payment after billing the user, tho it's not safe i felt it'd be nice to have this feature, tho it'd be removed in the future release.

[2020-08-20 08:55] #43 closed

[2020-08-20 08:57] just1and0 commented on #41
Hey, i think @eakenbor  found the solution for this, so I'm going to go ahead and close this issue. Big thank @eakenbor for the help.

[2020-08-20 08:57] #41 closed

[2020-08-20 08:59] just1and0 commented on #44
No, for now, the package doesn't support this. But you could send a PR. I'm opened to contributions.

[2020-08-20 08:59] #44 closed

[2020-08-20 20:56] benjamin-daniel opened #45 "Exposure of secret Key"
This Project exposes the secret key when verifying the reference, this has serious security implication and as someone nefarious can use it. I advise against verifying the transaction on the client side, as verification should be done on server side.

[2020-08-20 21:03] just1and0 commented on #45
The docs clearly state this in **[Disclaimer](https://github.com/just1and0/React-Native-Paystack-WebView#disclamier)**  and this feature is being removed in a future release.

[2020-08-20 21:03] #45 closed

[2020-08-27 22:12] ighotouch commented on #42
How do we resolve this having same issue

[2020-08-27 22:13] ighotouch commented on #42
Also with cards that require Auth

[2020-08-28 06:36] surafelbm commented on #42
@ighotouch still hasn't figured it out ended up using Flutterwave.

[2020-09-04 03:33] osueke-christian commented on #42
@just1and0 this package is gaining some traction but this is a huge blocker.
Any solution I sight ???

[2020-09-07 11:43] vinaykr579 opened #49 "Payment in USD"
Hello,

Is there any option to accept payment in (US Dollars).? I am unable to find currency option in the documentation. There is a option for currency in paystack payment documentations. How to use currency option in this react native package?

[2020-09-08 06:00] #49 closed

[2020-09-12 18:42] eakenbor opened #50 "Error: Duplicate Transaction Reference"
When I click on the Pay Now button I get an error message: "Duplicate Transaction Reference" despite entering the correct credentials. Please can anyone help me with this? I have attached a screenshot. Also see the PaystackWebView props.

<PaystackWebView
                        buttonText="Pay Now"
                        showPayButton={true}
                        paystackKey={Config.PAYSTACK_P

[2020-09-23 07:17] ossyfizy1 opened #51 "unable to add my custom data"
Good morning,

I tried integrating the "react-native-paystack-webview" on a react native app.
I found out that passing my own custom amount or changing the default {120000} to say {150000} leaves the paystack modal window loading without showing the payment options. It just keeps loading.
Love to know how to walk around this issue.
Thanks

[2020-09-28 16:48] yinka1255 commented on #42
the problem is this email in their doc paystackwebview@something.com. If you replace this email, it wont work. Try fix this pls

[2020-09-28 16:49] yinka1255 opened #52 "Problem with email"
the problem is this email in your doc paystackwebview@something.com. If you replace this email, it wont work. Try fix this pls

[2020-11-20 17:36] parthya commented on #49
@vinaykr579 How did you solve this?

[2020-11-23 14:08] Onibenjo commented on #50
please how was this solved

[2020-12-04 03:02] Luckae commented on #50
You could just on your own add a unique reference in your PayStackWebView like so:

refNumber={Math.floor((Math.random() * 1000000000) + 1)}

This solves the problem.

[2021-01-25 06:13] jogapps opened #56 "Addingmetadata"
How do i add custom metadata for use in the package

[2021-01-25 23:52] mopilo commented on #16
any luck with this issue?

[2021-02-02 11:09] Francis-nova commented on #42
I have this problem, anybody found a way around this yet ?

[2021-02-20 18:43] nlabofa commented on #42
same here

[2021-03-11 09:10] allindeveloper commented on #42
Hello
I'm still experiencing the same issue
when using Bank Auth

[2021-03-12 09:44] therealgemjosh commented on #42
I keep getting this error :::Error: Unable to resolve module react-native-webview
could you pls try update the module so as to fix issue with the core react-native-webview as its marked deprecated by the core framework.

[2021-03-23 18:26] emyduke commented on #50
Very helpful @Luckae

[2021-03-25 10:20] stokkpiledev commented on #49
Please how did you solve this @vinaykr579 ?

[2021-04-05 11:12] kazeemOnis opened #57 "Paystack ref uses initial state values"
I'm fetching my amount and apikey from an API, but for some reason, the paystack ref uses the initial values of the states

[code]

So on payment, the paystack key would empty and the amount still zero. Any help will be useful @just1and0 .

[2021-04-05 20:18] omivrex opened #58 "3D-S secure authentication failure"
Hey guys I used this nodule in test mode it worked well but when I tried doing a life payment in my app and I get this error. "The cardholder was not authorised. This is used in 3-D Secure Authentication". I did this with a Visa card linked to my zenith Bank account. I have checked through the paystack forum but I don't see anything on how to resolve this issue. Please can someone explain why this

[2021-04-17 03:37] Luckae commented on #50
@emyduke Nice.

[2021-04-29 11:00] jemkob commented on #50
Thanks @Luckae

[2021-04-29 11:49] #50 closed

[2021-05-07 11:56] DejiAwoniyi opened #59 "Subscriptions/ Recurring payments"
I am currently using and enjoying Paystack's react native PaystackWebView component. This works seamlessly for accepting singular payments.

Having browsed through the Paystack Docs, I see that recurring payments and Subscriptions are possible. Is there a way to integrate this into PaystackWebView on react native? The documentation was not quite clear on this.

Thanks

[2021-05-17 16:56] muhammadfaizkhan opened #60 "It's showing continuous loading bar and Pay Now button beneath of it."
Hi There,
I've recently created a component using react native paystack webview and everything is fine no errors yet, but when I try to insert plugin on my app page it's continuous showing a **Loading bar** and **Pay Now** button below. I think plugin have some such issues, not clear about it. Can anybody _help_ me ? I'll send you the screen shot of the problem.
Thank you,
Muhammad Faiz Khan

[2021-05-17 17:00] muhammadfaizkhan commented on #51
It also keeps me stuck on loading anyway, did you got the solution ? I didn't get and I'm near to upload this my task is about to end please help how to fix this issue.

[2021-05-17 17:34] muhammadfaizkhan commented on #60
@just1and0  please help here.

[2021-05-18 07:08] ossyfizy1 commented on #51
I guess I switched to another payment option for it. The project was
continued by someone else. But talk directly to the customer service to
assist you further.

Regards

On Mon, May 17, 2021, 6:00 PM Muhammad Faiz Khan ***@***.***>
wrote:

[2021-05-18 08:29] muhammadfaizkhan commented on #51
Yes please or tell me the other solution for paystack payment integration
in my app.

On Tue, May 18, 2021 at 12:09 PM Osagie Osaigbovo Charles <
***@***.***> wrote:

[2021-05-18 09:55] ossyfizy1 commented on #51
Please communicate with the representatives

On Tue, May 18, 2021, 9:29 AM Muhammad Faiz Khan ***@***.***>
wrote:

[2021-05-18 13:21] Ujjalcha1 opened #61 "don't use currency"
i can't change currency NGN to USD

please help

[2021-05-18 14:06] muhammadfaizkhan commented on #61
Did your component working fine ? For me it's showing loading continuously.

[2021-05-18 20:09] Ujjalcha1 commented on #61
go to node_modules > React-Native-Paystack-WebView >index.js
put it for currency change----> currency: '${props.currency}',

in package single quotes symbol are missing

[2021-06-22 14:32] mosoakinyemi commented on #60
hey @muhammadfaizkhan sorry for the late response.
Could you share a screenshot or video of this bug?

[2021-06-22 14:34] mosoakinyemi commented on #61
Will push a PR for this

[2021-06-22 15:22] muhammadfaizkhan commented on #60
The component continuously showing loading spin when user click to pay now
button.

On Tue, Jun 22, 2021 at 7:32 PM Akinyemi Mosolasi ***@***.***>
wrote:

[2021-06-22 15:26] mosoakinyemi commented on #58
Hey @omivrex , sorry for the late response.
Where you able to resolve this?

[2021-06-22 15:32] mosoakinyemi commented on #58
I can see some info on 3D-S cards
https://paystack.com/docs/guides/using_the_paystack_checkout_in_a_mobile_webview#handling-3ds-properly

[2021-06-22 15:33] mosoakinyemi commented on #58
would look into it after work hours

[2021-06-22 15:34] mosoakinyemi commented on #60
Kindly share a screenshot or an expo snack so we can re-create the issue.
Thanks

[2021-06-22 15:36] #61 closed

[2021-06-22 15:38] mosoakinyemi commented on #57
Looking into this

[2021-06-22 15:41] mosoakinyemi commented on #52
This is late but pls check your code again

[2021-06-22 15:41] #52 closed

[2021-06-22 16:35] kazeemOnis commented on #57
@mosoakinyemi thanks, please if you need anything from me let me know.

[2021-06-22 17:09] mosoakinyemi commented on #42
Looking at this atm...sorry for the delays guys

[2021-06-22 17:37] mosoakinyemi commented on #42
Just isolated this issue to be iOS only
Here's a snack with my implementation: https://snack.expo.io/KJMPWO2oz

Looking into this

[2021-06-22 17:39] mosoakinyemi commented on #42
Hey @therealgemjosh thanks,
Could you share more details on your project?
- What RN version?
- Expo or Bare RN
- What version on RN-paystack-webview?

[2021-06-26 21:47] mosoakinyemi commented on #57
Hey bro, I tried recreating this and had no issue at all
https://snack.expo.io/@mosoakinyemi/rn-paystack-webview-issue-57

Kindly crosscheck your logic
Cheers!

[2021-07-13 04:25] olucodes4u commented on #42
Great tutorial, please when I hit the save button, I got this error in my terminal;   undefined Unable to resolve module react-native-paystack-webview from C:\Users\New User\Music\moneystack\src\screens\payment.js: react-native-paystack-webview could not be found within the project or in these directories:
  node_modules

Please how do I solve this?

I'm using react-native expo
and I have  "react-

[2021-07-14 12:18] Zeusmist opened #63 "Amount can't have cents & kobo"
@just1and0  @mosoakinyemi Hi guys, I am trying to use an amount with a fraction. eg ($1.5). Anytime I pass 1.5 (or any decimal number) as the amount, Paystack does not load, but it works fine whenever I use a non-decimal value.

Please I really need a solution to this, as users are supposed to pay a decimal amount.

Thanks guys!

[2021-07-14 13:30] Zeusmist commented on #63
in index.js, Line 70
**amount: ${props.amount}00,**

Paystack doesn't accept decimal values for amount, instead kobo & cents need to always be included. That's why there's **00** after the amount.
This approach does not allow for flexible amounts.
I would suggest

**amount: ${props.amount}${props.decimalAmount ?? 00}**

@just1and0  @mosoakinyemi

[2021-07-14 13:32] mosoakinyemi commented on #63
Hey man

[2021-07-15 14:49] Zeusmist commented on #63
Thank you very much

[2021-07-16 16:12] Zeusmist commented on #63
@mosoakinyemi
I was able to fix this locally using the following updates to **index.js**

**Line 70:** amount: ${props.amount}${props.decimalAmount},
**Line 183:** decimalAmount: "00",

do you think it's an okay solution?

[2021-07-16 16:45] mosoakinyemi commented on #63
Yeah, but I’m working on a revamp with some breaking changes that’ll come
with a fix for this bug over the weekend.

So if this works for you…that’s fine 🙂.

Cheers!
On Fri, Jul 16, 2021 at 5:12 PM David Erinayo Obidu <
***@***.***> wrote:

[2021-07-17 16:01] mosoakinyemi commented on #63
cc @rajibola

[2021-07-19 18:01] Zeusmist commented on #63
@mosoakinyemi @rajibola, Hi guys, just popping a little reminder here. 😊😊

[2021-07-21 06:59] mosoakinyemi commented on #63
Lol

[2021-07-21 07:00] mosoakinyemi commented on #63
I'll be deploying an alpha version today...would you be willing to test that out?
cc @Zeusmist

[2021-07-21 18:23] Zeusmist commented on #63
Yupp

[2021-07-21 19:45] mosoakinyemi commented on #63
Hey man, here's a link to the [pre-release] (https://github.com/just1and0/React-Native-Paystack-WebView/releases/tag/v4.0.0-rc1), feel free to go through the breaking changes.

I and @just1and0 will deploy to npm shortly.

But this issue has been 100% fixed...😅

<img width="306" alt="Screenshot 2021-07-21 at 8 36 47 PM" src="https://user-images.githubusercontent.com/41248079/126550307-5f12c6d8-81a

[2021-07-21 19:45] mosoakinyemi commented on #63
cc @Zeusmist

[2021-07-22 00:19] mosoakinyemi commented on #59
Will look into this

[2021-07-22 00:20] mosoakinyemi commented on #58
Sorted this out in [v4.0.0-rc1](https://github.com/just1and0/React-Native-Paystack-WebView/releases/tag/v4.0.0-rc1)

[2021-07-22 00:21] mosoakinyemi commented on #42
Resolved this in [v4.0.0-rc1](https://github.com/just1and0/React-Native-Paystack-WebView/releases/tag/v4.0.0-rc1)

[2021-07-22 00:22] mosoakinyemi commented on #56
Will resolve this with this PR (#34)

[2021-07-26 10:06] Zeusmist commented on #63
@mosoakinyemi Thanks a lot for fixing this 🎉🎉, I'm about to test this out.

In my package.json dependency list, I added
"react-native-paystack-webview": "https://github.com/just1and0/React-Native-Paystack-WebView.git#90ffc62a8a1e4d4c3d70c589381bdde7ca7365ce",

I assumed that would point to the pre-release version. But I'm getting errors when I run npm install. (I've pasted the error below.)

What'

[2021-07-26 10:10] just1and0 commented on #63
Hey @Zeusmist the release is yet to be published, I hit some hiccup over the weekend with types but @mosoakinyemi and I are done with that. we'd have V4.0.0 release out before the end of today and published to npm.

Thanks for using the package 😊

[2021-07-26 10:14] Zeusmist commented on #63
@just1and0 Thanks a bunch man 🎉🎉😊.

[2021-07-26 12:39] just1and0 commented on #63
@all-contributors please add @Zeusmist for bug

[2021-07-26 12:40] just1and0 commented on #63
@Zeusmist V4.0.0 is published and I can confirm this issue has been fixed.

[2021-07-26 12:40] #63 closed

[2021-07-26 12:42] just1and0 commented on #42
@all-contributors please add @surafelbm for bug

[2021-07-26 12:44] just1and0 commented on #42
@surafelbm V4.0.2 is published and I can confirm this issue has been fixed.

[2021-07-26 12:44] #42 closed

[2021-07-26 12:45] just1and0 commented on #58
@all-contributors please add @omivrex for bug

[2021-07-26 12:45] just1and0 commented on #58
@omivrex V4.0.2 is published and I can confirm this issue has been fixed.

[2021-07-26 12:45] #58 closed

[2021-07-26 12:47] just1and0 commented on #51
@all-contributors please add @ ossyfizy1 for bug

[2021-07-26 12:47] just1and0 commented on #51
@all-contributors please add @ossyfizy1 for bug

[2021-07-26 12:48] just1and0 commented on #51
@ossyfizy1   V4.0.2 is published and I can confirm this issue has been fixed.

[2021-07-26 12:48] #51 closed

[2021-07-26 12:49] just1and0 commented on #61
@all-contributors please add @Ujjalcha1  for bug

[2021-07-26 12:50] just1and0 commented on #61
@Ujjalcha1  V4.0.2 is published and I can confirm this issue has been fixed.

[2021-07-26 12:52] just1and0 commented on #60
@muhammadfaizkhan could you please also try updating the package and see if issue persist?

[2021-07-26 12:55] #57 closed

[2021-07-27 09:49] Zeusmist commented on #63
@just1and0 @mosoakinyemi Fantabulous!! Great job guys. Thank you!

[2021-08-10 07:55] Blac-Panda opened #76 "README typo"
In Usage 2 - Using Refs code, TouchableOpcaity tag is closed wrongly a <TouchableOpacity/> (README.md line 95)

[2021-08-11 07:30] mosesegboh commented on #59
Hello, installed the library, but I cannot find  the "Pay Now" button when I run the component on my app. Who can help please.

[2021-08-11 08:27] just1and0 commented on #59
Hey 👋🏾

You should make this a new issue and not a comment on another unrelated issue.

thanks 🙂

[2021-08-11 08:29] #56 closed

[2021-08-11 08:36] just1and0 commented on #60
Hello @muhammadfaizkhan

we have updated the package and I believe this has been resolved in v4.

Now the pay button option has been deprecated ⚠️ We advice using Refs ,you can see example [here](https://github.com/just1and0/React-Native-Paystack-WebView#usage-2---using-refs)

[2021-08-11 08:39] just1and0 commented on #76
Thanks for catching that 🙂

[2021-08-11 08:42] just1and0 commented on #76
@all-contributors please add @Blac-Panda   for bug

[2021-08-11 08:42] #76 closed

[2021-08-11 09:05] just1and0 commented on #59
Hey @DejiAwoniyi

Subscription/Recurring payment was once supported in [V3.1.9 ](https://www.npmjs.com/package/react-native-paystack-webview/v/3.1.9) but was removed because of security issues. Being able to perform Subscription/Recurring payment means you'd be exposing your paystack secret key and that's not safe as just about anyone with enough time to spare could easily get your secret key and

[2021-08-11 09:05] #59 closed

[2021-08-11 09:37] mosesegboh opened #78 "Pay Now Button Component not displaying in Front End"
Hello, installed the library, but I cannot find the "Pay Now" button when I load the component on my app as displayed in the tutorial. Who can help. Is there anything extra I need to do?
Regards.

[2021-08-11 13:00] just1and0 commented on #78
Hello 👋🏾

pay now button was taken out of V4, I’d advice referring to the docs on the use of Ref to initiate payment with pay now button [here](https://github.com/just1and0/React-Native-Paystack-WebView#usage-2---using-refs)

[2021-08-11 13:00] #78 closed

[2021-08-11 14:14] just1and0 commented on #78
Hello what version are you using ?

[2021-08-11 14:34] mosesegboh commented on #78
I also get the error, "Paystack props is not defined" when I pass in "null as a parameter for the useRef code I highlighted above "as displayed in the image below;
![image](https://user-images.githubusercontent.com/56415400/129048605-af414098-f84f-4fb4-b1c5-e716631a77a7.png)

[2021-08-12 01:17] mosesegboh commented on #78
Hello,
Thanks for the response.
 I tried it as you have stated in the code, however, I am still getting the same error on that same line of code.
I even went as far as disabling javascript validation in my vscode but the code won't compile due to that error.
Below is a screenshot of my code with the error message
![image](https://user-images.githubusercontent.com/56415400/129123437-e3dc6339-0e89-4

[2021-08-12 06:58] just1and0 commented on #78
I have tried to replicate this issue but it still works fine for me. Can we hop on a call this morning to see what the issue is, google meet.

Ps: I won’t be free anything after 12:00pm

[2021-08-12 07:00] mosesegboh commented on #78
Hello Tobi,
Kindly give me time and a link and will definitely be available

[2021-08-12 07:02] just1and0 commented on #78
What’s your email ?

[2021-08-12 07:03] mosesegboh commented on #78
mosesegboh@gmail.com

[2021-08-12 07:05] just1and0 commented on #78
Just sent an invite, we can do 8:30

[2021-08-12 07:08] mosesegboh commented on #78
ok noted

[2021-08-12 07:31] mosesegboh commented on #78
Hi Tobi,
I am in

[2021-08-12 10:45] mosesegboh commented on #78
Hi Tobi,
I have sent you an invite on github.
Looking forward to hearing from you soon.
Thanks once again.
Regards.

[2021-09-15 19:55] muhammadfaizkhan commented on #51
https://www.fiverr.com/s2/e10d640412?utm_source=_Mobile

[2021-09-17 02:04] sheggietyn opened #80 "the ref Usage is not working"
i wanted to use my own personal button so I tried the Ref usage in the documentation but it keeps saying unexpected token no matter what I change

the issue is from here

const paystackWebViewRef = useRef<paystackProps.PayStackRef>();

[2021-09-18 16:38] sheggietyn commented on #80
i was able to solve the ref issue but these are the new problem I observed:

1 billingName: billing name does not send a billers Name to Paystack, I have tried a lot of ways it didn't work, likewise the Billing phone number too

[2021-10-17 10:44] Stefanpgr opened #83 "Success callback is not called after successful payment with Bank AUTH"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome,

[2021-10-27 11:47] asadadams opened #87 "We could not start transaction, currency not supported"
We could not start transaction, currency not supported is the message i receive when trying to make payment

[2021-11-13 13:59] AbuTuraab opened #89 "API documentation"
Hi there, I noticed there's no well written API documentation for this great project, I am a technical writer and I'll like to use my technical knowledge to contribute to this project and make it easy for the developers and users to understand its usage better.

[2021-11-13 16:11] webchyf commented on #87
add currency as a prop
example   <Paystack
            currency="GHS"
paystackKey="test"
paystackSecretKey="test"
billingEmail='test@gmail.com'
billingMobile='0819001274387'
billingName='Test'
channels={["mobile_money"]}
amount={'250.00'}
onCancel={(e) => {
// handle response here
}}
onSuccess={(res) => {
// handle response here
}}
ref={this.paystackWebViewRef}
/>

[2021-12-14 17:49] Caleb-Omoijuanfo opened #90 "The onSuccess callback is not called on successful bank authorization. The modal just closes."
**Describe the bug**
The success callback is not called on successful bank authorization. The modal just closes. Card is charged but no value for the customer cos logic has been implemented in the onSuccess callback.

**To Reproduce**
Steps to reproduce the behavior:
1. Select card ending with 409 and complete the steps. (Use an iphone). Seems to work on android.

**Expected behavior**
1. OnSucces

[2021-12-16 14:20] Dverybest commented on #90
I'm getting the same issue, any fix for this?

[2021-12-18 09:06] coolheaded1 commented on #80
Kindly provide solution here....

[2022-01-20 04:53] GideonAgboba opened #94 "Unstable package"
The react-native-paystack-webview npm package works sometimes and just suddenly stops working. It also does not work on some devices. Is there anything I need to know?

Here's my package.json:
    "react": "16.13.1",
    "react-dom": "16.13.1",
    "react-native": "https://github.com/expo/react-native/archive/sdk-42.0.0.tar.gz",
    "react-native-paystack-helpers": "^0.0.1",
    "react-native-pays

[2022-01-25 17:06] okechukwu0127 opened #95 "Prompt Modal closes automatically after user chooses his account/email"
**Describe the bug**
A clear and concise description of what the bug is.

When a user clicks on the GoogleSignIn Button, it loads the GoogleSignIn prompt modal for the user to select his google account.
When the user click on his account from the prompt, the modal closes automatically.
This happens on random devices as it works properly on some android devices.

I also notice that the issues happe

[2022-01-25 17:21] #95 closed

[2022-02-21 12:09] vikasnhz commented on #87
Not working same error.

[2022-02-23 09:14] mayorityz opened #96 "Screen freezes when the network fails."
when you trigger a payment, in the event where network fails or poort network, the white screen freeze.

[2022-03-18 06:55] fuadop opened #99 "use `DOMContentLoaded` instead of `onload`"
https://javascript.info/onload-ondomcontentloaded#domcontentloaded-and-scripts

The load event fires before the javascript loads completely at times. That's why there are blank screen issues sometimes due to internet connection.

[2022-03-18 11:09] #99 closed

[2022-04-12 18:27] okechukwu0127 opened #104 "AAPT: error: resource attr/foreground"
**Describe the bug**

Task :react-native-paystack:verifyReleaseResources FAILED
I suddenly started getting this error when i try to build the application from terminal.
The application works well when testing on emulator and device with no error

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to terminal and run the command from the android dir ./gradlew assembleRelease -x bundleR

[2022-04-15 06:50] okechukwu0127 commented on #104
I was able to solve this in a very interesting way.

After many back and forth, the only solution that worked for me was to

- upgrade my gradlew plugin to 4.2.0 (android/build.gradle) i.e  **classpath 'com.android.tools.build:gradle:4.2.0'**
- upgrad my gradlew distributionUrl version to 7.0 (android/gradle/wrapper/gradle-wrapper.properties)  i.e **https\://services.gradle.org/distributions/gradl

[2022-06-17 11:34] Chinedu25 opened #109 "Bank Auth opens the native browser of the device"
**Describe the bug**
When you use bank auth it takes away from the app and uses the device native browser

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Bank Auth'
2. Click on '.Authenticate'
3. redirects to native browser

**Expected behavior**
Stays within the paystack-react-native-webview instead of taking away from the app

[2022-06-22 12:47] mittalkamal29 opened #110 "Pay with Bank option is not showing"
**Describe the bug**
I am using sdk and try to pay with all three optiion but pay with bank option is not showing while it is bank option is on from paystack dashboard -> settings -> preferences.

My code as below:

**Screenshots**
![Uploading Simulator Screen Shot - iPhone 13 - 2022-06-22 at 18.13.53.png…]()

**Additional context**
Can you suggest how to get the the option?

Thanks

[2022-06-23 11:40] alexander01202 commented on #90
Still no fix for this?? Has anyone figured this out??

[2022-07-18 06:37] MavDavis commented on #50
life saviors>>>>

[2022-08-01 10:43] kvngcheerio commented on #80
Use ` const paystackWebViewRef = useRef(paystackProps.PayStackRef); ` instead of `const paystackWebViewRef = useRef<paystackProps.PayStackRef>();`

[2022-08-05 12:13] sydiaplatform opened #113 "Kenya Currency and Mpesa"
Hello there,

1. I would be great to see an option to input the currency, I managed to do this by removing the currency on line 28 on the paystack.js file and adding it to the <Paystack /> element.

2. I would be great to have an option for 'channel' under the <Paystack /> element. Right now I had to remove ['card'] from line 28 on the paystack.js file for it to pull all available payment methods

[2022-08-10 07:58] chrisedington opened #114 "Macbook M1 Issue"
I had issues getting the project running on a Macbook Pro M1.

[code]

I had to make the following change for it to work - maybe it'll help someone:

[code]

Make sure to do a `pod install` afterwards.

[2022-08-18 16:51] akinlekan28 commented on #83
@Stefanpgr were you able to solve this?

[2022-09-18 15:38] Forpee opened #118 "How to add metadata when accepting payments?"
The original Paystack popup allows you to add metadata to the payment request, how do I do that in this library?

[2022-10-12 13:43] precious112 commented on #83
Were you able to solve this?

[2022-10-12 13:53] akinlekan28 commented on #83
I wasn’t able to, it’s still an issue

Sent from Yahoo Mail for iPhone

On Wednesday, October 12, 2022, 2:43 pm, precious112 ***@***.***> wrote:

Were you able to solve this?

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you commented.Message ID: ***@***.***>

[2022-10-31 13:06] cartehub opened #119 "I am working with Cs-cart but can't seem to be able to load the"
The issue is that I can't seem to be able to get the total "amount" to load from my project on the Paystack payment page.

My code sample is as below, {totaPrice} draws a blank.

[code]

[2022-11-02 21:12] cartehub opened #120 "Loading amount dynamically not working"
Hi,

I was able to install as laid out at npmjs.com. However, I am having challenges with getting totalprice from checkout to load on Paystack. manually inputting something like 20000 worked but getting value in from checkout form isn't working. Amount is still blank. I have zipped my CheckoutPayment.js and PaymentPaypalForm.js. I’m looking to pass the total amount from the former to the latter. K

[2022-11-11 19:04] Gentlekboy commented on #41
I had this same error with all required packages installed - Expo bare workflow (TypeScript).
I solved it with the workaround below:

THIS
`import { Paystack } from "react-native-paystack-webview/lib";`

instead of
`import  { Paystack }  from 'react-native-paystack-webview';`

Pretty new to the react native ecosystem so I can't exactly explain why it worked, but it did anyways. Lool

[2022-11-16 15:57] codexjoshy commented on #83
this is still an issue for me. any solution yet ?

[2022-11-16 15:59] codexjoshy commented on #42
this is still an issue for me .
I am using expo 45

[2022-11-18 13:38] netflams10 opened #123 "Blanc Screen after payment on ios"
I always get this blanc screen after payment on ios. I suspect my modal but now on a new project with no modals I get the same blanc white screen again
<img width="1280" alt="Screenshot 2022-11-18 at 14 21 29" src="https://user-images.githubusercontent.com/29205259/202717440-0bafdd92-01a3-4e6a-9327-617901425c22.png">

[2022-11-21 03:54] feisal-Codes commented on #42
this is still an issue, any work around or solutions?

[2022-11-25 06:25] Stefanpgr commented on #83
unfortunately, I was not able to resolve